table {
  width: 100%;
  margin-top: 100px;
}

body {
  font-family: "Covered By Your Grace", cursive;
  line-height: 1.25;
}

@media screen and (max-width: 960px) {
  #container {
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
  }
}

#container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.mat-column-add {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-released {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.mat-column-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}
.mat-column-price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.row:hover {
  .colm {
    background-color: grey;
  }
}

#refresh:hover {
  cursor: pointer;
}
