<div id="container">
  <div id="table">
    <mat-form-field>
      <mat-label>Kirja haku</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Etsi kirjoista"
        #input
      />
    </mat-form-field>
    <mat-card *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nimi</th>
        <td mat-cell *matCellDef="let book">
          {{ book.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Arvosana</th>
        <td mat-cell *matCellDef="let book">
          <ng-container *ngFor="let _ of [].constructor(book.score)"
            >🐱</ng-container
          >
          <span *ngIf="book.score === 0">👎</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hinta</th>
        <td mat-cell *matCellDef="let book">{{ book.price }}</td>
      </ng-container>

      <ng-container matColumnDef="released">
        <th mat-header-cell *matHeaderCellDef>Julkaistu</th>
        <td mat-cell *matCellDef="let book">
          <span>{{ book.released | date: "dd.MM.yyyy" }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef colspan="3">
          <button (click)="edit(row)" mat-button>
            <span class="material-icons"> add </span>
          </button>
        </th>
        <td mat-cell *matCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Books">
        <th mat-header-cell *matHeaderCellDef>
          <h1 style="margin: 20px 0 16px">Kirjat</h1>
        </th>
        <td mat-cell *matCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedHeadColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="edit(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">
          <span>Ei tuloksia/kirjoja</span>
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[20, 40, 60]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <span (click)="getBooks()" id="refresh" class="material-icons"> sync </span>
</div>
<router-outlet></router-outlet>
