<mat-dialog-content>
  <div class="container">
    <h2 style="text-align: center; margin-top: 20px" *ngIf="this?.book.id">
      Poistetaanko kirja {{ book?.title }}?
    </h2>
    <h2 style="text-align: center" *ngIf="!this?.book.id">this is error?</h2>
    <button
      mat-button
      (click)="close()"
      style="
        font-size: 2em;
        color: lightgray;
        margin-right: -20px;
        float: right;
        margin-top: -50px;
      "
      tabIndex="-1"
      aria-label="Dialogi sulku nappi"
    >
      &#215;
    </button>
  </div>
  {{ book | json }}
  if delete all checkmark the delete all checkmark and then that de disables the
  delete button
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Peruuta</button>
  <button
    mat-button
    (click)="deleteBook()"
    style="color: red"
    *ngIf="this?.book.id"
  >
    Poista
  </button>
</mat-dialog-actions>
